# ERDS 1 Model 1 - Intro to Python

Text will go here on time alotted, some google Colab notes (?) and emails, office hours, etc.

##  Introduction into using Python in a Google Colab notebook

Python has specific ways of storing, interacting and working with data. It also has some built in math functions. Is it standard practice to put a space between the number and the operator.

In [1]:
2 * 2

4

If we want to put a comment in a code block, lead with a hashtag #, in Matlab this would be a %.

In [2]:
# While this will work, it is not as easy to read for some
2*2

4

In [3]:
# 4 + 3

Did anything happen when you ran the previous block? You can put anything behind a #. If you remove it, will it run?

In [4]:
3 + 2

5

Variable names always lead the operator with one equals sign. Doing it in reverse does not work. This is a hard rule in python.

In [5]:
2 + 3 = a

SyntaxError: ignored

In [ ]:
a = 2 + 3
a

Leading with a number is also not allowed, but leading with a letter and then using a number is totally fine.

In [ ]:
4ever = 2 * 4
4ever

In [6]:
ever4 = 2 * 4
ever4

8

# Parentheses and Data Types

There are more than a few different types of parenthesis and formatting of data types that are for different uses. We will go into some of the more common ones here.

### Lists

Lists are really common, and a great way to store data that you might add something to, and are flexiable. I use lists a lot!

In [7]:
a_list = [2, 3, 7]
a_list

[2, 3, 7]

In [8]:
a_list[0] # note, python starts counting from 0, and not 1

2

If you want to add something to the list, you can use the append function.

In [9]:
a_list.append(27)
a_list

[2, 3, 7, 27]

This is one of the biggest differences compared to a tuple. Lists can change (added, subtracted, appended, etc.) while tuples can't. Tuples are also a little faster.

## Tuples

Tuples are great for things that you want to never change. Generally I rarely use them, as I am always changing stuff around.

In [10]:
tup1 = 1, 2, 3
tup1

(1, 2, 3)

In [11]:
a, b, c = tup1
b

2

In [12]:
tup1[0]

1

In [13]:
tup1.append(2)
tup1

AttributeError: ignored

This lack of append is a big difference compared to a list!

You can nest tuples

In [14]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

Even without the ability to modfiy tuples, it does have some methods you can use (a method is a variable .method_name).

In [15]:
tup1.count(2)

1

## Dictionarys

Dictionarys are great. After lists, I probably use them the most.

In [16]:
a_dict = {'a': 'rad', 'b':'cool', 'c':'sweet'}
a_dict

{'a': 'rad', 'b': 'cool', 'c': 'sweet'}

In [17]:
a_dict['b']

'cool'

Dictionaries are useful in geoscience for mapping short hand or munging data. You can add to dictionaries after you make them.

In [ ]:
a_dict['d'] = 'CoolerRado'
a_dict

{'a': 'rad', 'b': 'cool', 'c': 'sweet', 'd': 'CoolerRado'}

Can change the value of a previously mapped

In [18]:
a_dict['a'] = 'blaster'
a_dict

{'a': 'blaster', 'b': 'cool', 'c': 'sweet'}

You can remove a value using the pop method

In [23]:
a_dict.pop('a')

KeyError: ignored

In [24]:
a_dict

{'b': 'cool', 'c': 'sweet'}

# Numbers

There are two main types of numbers, floats an integers.

In [26]:
x = 3
type(x)

int

In [27]:
y = 3.2
type(y)

float

In [28]:
z = 3.0
type(z)

float

# Strings

In [30]:
a = 'this is a string'

In [31]:
type(a)

str

In [32]:
a[0:3] # indexing works with strings too

'thi'

In [33]:
a.sort() # why does this error?

AttributeError: ignored

In [34]:
a[0]='T' # why does this error?

TypeError: ignored

You can also split strings up

In [37]:
b=a.split(' ') # split is a built-in method of a string

In [38]:
b

['this', 'is', 'a', 'string']

In [ ]:
# try splitting using an i or an a and display the results

fin!